

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.container {
  height:100%;
}

:root {
  --blue: #2B2D42;
  --blue-transparent: #2b2d4280;
  --grey: #8D99AE;
  --grey-transparent: #8d99ae93;
  --white: #EDF2F4;
  --light-red: #EF233C;
  --light-red-transparent: #ef233b85;
  --dark-red: #D80032;
}

#detail {
  display: flex;
  background-color: var(--white);
  color: var(--blue);
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  justify-content: center;
}

#nav-links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;

}

#nav-bar-container {
  position: sticky;
  top: 0;
}

#nav-bar {
  display:flex;
  justify-content: space-between;
  padding-right: 2rem;
  min-height: 5rem;
  background-color: var(--blue);
  color: var(--white);
}

ul, li, a {
  list-style-type: none;
  text-decoration: none;
  font-size: x-large;
}

a:visited {
  color: var(--white);
}

a {
  color: var(--white);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 3rem;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 3rem;
}

label {
  display: flex;
  flex-direction: column;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  gap: 1rem;

}

.cards {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
  height: 350px;
}

@media(min-width: 540px){
  .cards{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .cards{
    grid-template-columns: repeat(4, 1fr); 
  }
  .cart-container-div {
    flex-direction: column;
  }
}

.image {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  list-style: none;
  margin: 30px auto;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit:contain;
}

.card-title {
  padding-top: 1rem;
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
}

.card:hover {
  transform: scale(0.98, 0.98);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.card-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.card-details {
  padding: 1rem;
  color: var(--grey);
  text-align: center;
  font-weight: bold;
  padding-top: 0;
}

.card-nav{
  display: flex;
  max-height: 20px;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  font-size: x-large;
}

button {
  background: none;
  font-size: x-large;
}

.cart-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.cart-item-image {
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  width: 150px;
  height: 150px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.cart-card {
  display: flex;
  gap: 3rem;
  font-size: smaller;

}

.description-text {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}




button {
  font-size: small;
  margin: 10px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

button:active {
  transform: scale(0.95);
}

.cart-container-div {
  display: flex;
}

#checkout-button {
  max-height: 5rem;
  position:absolute;
  top: 6rem;
  margin-left: 5rem;
  position: sticky;
}

